#### Import pandas with its alias

In [1]:
import pandas as pd

#### Download the dataset from kaggle using the Kaggle API

In [2]:
import kaggle

# Set the dataset name and target path
dataset_name = "tarundalal/100-richest-people-in-world"  # Example dataset
target_path = "D:\\kaggle_dataset\\100-richest-people-in-world\\"  # Replace with your desired path

kaggle.api.dataset_download_files(dataset=dataset_name,
                                  path=target_path,
                                  unzip=True)

Dataset URL: https://www.kaggle.com/datasets/tarundalal/100-richest-people-in-world

#### Load the ```TopRichestInWorld.csv``` file and make 'Name' the index and 'Age' the column

In [5]:

richest = pd.read_csv(target_path + "TopRichestInWorld.csv",
                      usecols=['Name', 'Age'],
                      index_col='Name').squeeze()
richest

Name
Elon Musk                   50
Jeff Bezos                  58
Bernard Arnault & family    73
Bill Gates                  66
Warren Buffett              91
                            ..
Vladimir Potanin            61
Harold Hamm & family        76
Sun Piaoyang                63
Luo Liguo & family          66
Peter Woo                   75
Name: Age, Length: 101, dtype: int64

#### Which person is the oldest?

In [41]:
oldest = richest.idxmax()  # Get the name of the richest person
oldest

'Lee Shau Kee'

#### How old is he?

In [42]:
richest[oldest]

np.int64(94)

#### Sort the values from the oldest to youngest age to verify

In [20]:
richest.sort_values(ascending=False)

Name
Lee Shau Kee               94
Li Ka-shing                93
Warren Buffett             91
Rupert Murdoch & family    91
Leonard Lauder             89
                           ..
Guillaume Pousaz           40
Yang Huiyan & family       40
Zhang Yiming               38
Mark Zuckerberg            37
Sam Bankman-Fried          30
Name: Age, Length: 101, dtype: int64

#### Which person is the youngest?

In [45]:
youngest = richest.idxmin()

#### How young is the youngest?

In [46]:
richest[youngest]

np.int64(30)

#### What is the average age of all the millionaires? (Round it to 2 decimal places)

In [47]:
richest.mean().round(2)

np.float64(67.12)

#### Save the series as a csv file named: sample.csv

In [27]:
richest.to_csv('sample.csv')

#### Read the csv you just saved

In [49]:
richest_csv = pd.read_csv('sample.csv').squeeze()

In [50]:
richest_csv

                         Name  Age
0                   Elon Musk   50
1                  Jeff Bezos   58
2    Bernard Arnault & family   73
3                  Bill Gates   66
4              Warren Buffett   91
..                        ...  ...
96           Vladimir Potanin   61
97       Harold Hamm & family   76
98               Sun Piaoyang   63
99         Luo Liguo & family   66
100                 Peter Woo   75

[101 rows x 2 columns]